.header {
  display: flex;
  width: 100%;
  padding: 2px 120px;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 680px) {
    padding: 2px 24px;

  }

  div {
    display: flex;
    padding: 20px 0px;
    align-items: center;
    gap: 16px;

    span {
      color: #03050F;
      text-align: right;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0.2px;
      @media (max-width: 768px) {
        display: none;
      }
    }

    p {
      color: #03050F;
      text-align: right;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.4px;
    }
  }
}